{% extends "base.html" %}
{% load static %}

{% block content %}
<a class="btn" href="/about">О нас</a>
<div class="catalog">
    {% for recipe in recipe_list %}
    
        <a class="link" href="{% url 'recipe_detail' recipe.id %}">
            <div class="recipe"><img class="recipe_img" src="{% static recipe.url %}" alt="{{recipe.name}}">
                <span>{{recipe.name}}</span>
            </div>
            <p>Автор: {{recipe.author}}</p>
                
            
        </a>
        
    {% endfor %}
</div>
{% endblock %}