{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2>О нас</h2>
    <p>Recipe Genius - это современный онлайн-каталог рецептов, предлагающий широкий выбор качественных и оригинальных блюд из разных кухонь мира. Наш портал создан для любителей готовить и экспериментировать с новыми вкусами.

        Основные особенности нашего ресурса:
        
        • Более 50 000 уникальных рецептов от известных шеф-поваров и начинающих кулинаров 
        • Фотографии шаг за шагом для каждого рецепта 
        • Возможность фильтрации по диетическим предпочтениям, времени приготовления и сложности 
        • Рейтинги и отзывы пользователей для помощи в выборе 
        • Регулярные обновления новыми оригинальными рецептами 
        • Инструменты для планирования меню и создания списка покупок
        
        Наша команда Recipe Genius стремится сделать процесс поиска и приготовления пищи максимально удобным и вдохновляющим. 
        Мы верим, что каждый человек имеет право на вкусное и здоровое питание, независимо от уровня кулинарных навыков или финансовых возможностей.
        
        Присоединяйтесь к нашему сообществу любителей пищи и откройте для себя мир новых вкусов и ароматов!</p>
        <a  class="btn" href="/">Перейти на главную</a>
{% endblock %}