{% extends "base.html" %}
{% load static %}
<div class="container">
    {% block content %}
    <div class="about">
        <h2>О нас</h2>
        <p>Recipe Genius - это современный онлайн-каталог рецептов, предлагающий широкий выбор качественных и оригинальных блюд из разных кухонь мира. Наш портал создан для любителей готовить и экспериментировать с новыми вкусами.
            Основные особенности нашего ресурса:
            </p>
            <ul>
                <li>Более 50 000 уникальных рецептов от известных шеф-поваров и начинающих кулинаров</li>
                <li>Фотографии шаг за шагом для каждого рецепта</li> 
                <li>Возможность фильтрации по диетическим предпочтениям, времени приготовления и сложности</li>
                <li>Рейтинги и отзывы пользователей для помощи в выборе</li> 
                <li>Регулярные обновления новыми оригинальными рецептами</li>
                <li>Инструменты для планирования меню и создания списка покупок</li>
            </ul>
            <p>
                Наша команда Recipe Genius стремится сделать процесс поиска и приготовления пищи максимально удобным и вдохновляющим. 
                Мы верим, что каждый человек имеет право на вкусное и здоровое питание, независимо от уровня кулинарных навыков или финансовых возможностей.
            </p>
            <p>
                Присоединяйтесь к нашему сообществу любителей пищи и откройте для себя мир новых вкусов и ароматов!
            </p>
    </div>
        
            <a  class="btn" href="/">Перейти на главную</a>
    {% endblock %}
</div>
